<% include partials/header.ejs %>
    <% if (client) { %>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="prenom" value="<%= client.prenom %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" value="<%= client.nomClient %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="username">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="adresse" value="<%= client.adresse %>" required>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="ville">Ville</label>
                  <input type="text" class="form-control" name="ville" id="ville" value="<%=  client.nomVille %>" required>
              </div>
          </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="civilite">civilité</label>
                    <select id="civilite" name="civilite" class="form-control" required>
                        <option selected><%= client.civilite %></option>
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
            </div>
            <input type="button" data-url="/client/<%= client.id_client %>"  data-type="put"  class="btn btn-sm btn-success" value="Update">
    <% } %>
        

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Listes des Clients</span>
    </nav>
    <div class="table-wrapper">

        <%  if (clients.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Nom</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach((client, index) => { %>
                        <tr>
                            <th scope="row"><%= client.id_client %></th>
                            <td><%= client.prenom %></td>
                            <td><%= client.nom %></td>
                            <td>
                                <input type="button" data-url="/client/<%= client.id_client %>"  data-type="get" class="btn btn-sm btn-success" value="Modifier">
                                <input type="button" data-url="/client/<%= client.id %>" data-type="delete" class="btn btn-sm btn-danger" value="Delete">
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>