<% include partials/header.ejs %>
<client>
</client>

<commande>
</commande>

    <div class="table-wrapper">

        <%  if (clients.length > 0) { %>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Nom</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach((client, index) => { %>
                        <tr>
                            <th scope="row"><%= client.id_client %></th>
                            <td><%= client.prenom %></td>
                            <td><%= client.nom %></td>
                            <td>
                                <input type="button" data-url="/client/<%= client.id_client %>"  data-html="client" data-type="get" class="btn btn-sm btn-success" value="Modifier">
                                <input type="button" data-url="/client/<%= client.id %>" data-type="delete" class="btn btn-sm btn-danger" value="Delete">
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>